* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    margin: 0;
    color: white;
    padding: 0;
}

.conteiner {
    background-color: hsl(0, 100%, 74%);
    background-image: url(../images/bg-intro-desktop.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textoLateral {
    width: 480px;
}

.textoLateral h1 {
    font-size: 38.7px;
    width: 410px;
    line-height: 45px;
    margin-bottom: 17px;
}

.textoLateral p {
    font-size: 13px;
    width: 430px;
    font-weight: 300;
}

.caixaForm {
    width: 410px;
}

.balaoInfo {
    font-size: 10.5px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 6px;
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 15px;
    box-shadow: hsla(249, 10%, 26%, 0.196) 0px 4.5px 0px 0px;
}

.balaoInfo p {
    font-weight: 300;
}

.balaoInfo b {
    font-weight: 600;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: auto;
    box-shadow: hsla(249, 10%, 26%, 0.196) 0px 4.5px 0px 0px;
}

form {
    margin: 30px;
    margin-top: 25px;
    margin-bottom: 0;
}

input {
    text-indent: 20px;
    font-size: 12px;
    font-weight: 500;
    width: 350px;
    border-radius: 4px;
    border: .5px solid #cccaca83;
    height: 38px;
    margin-bottom: 15px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid hsl(248, 32%, 49%);
}

button {
    width: 356px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 10.5px;
    border-radius: 4px;
    border: 0;
    background-color: hsl(154, 59%, 51%);
    box-shadow: hsl(154, 58%, 46%) 0px 3px 0px 0px;
}

button:hover {
    background-color: hsl(154, 78%, 57%);
}

.termosAbaixo {
    margin-top: 13px;
    margin-bottom: 30px;
    color: hsl(246, 25%, 77%);
    font-size: 9.6px;
}

.termosAbaixo b {
    color: hsl(0, 100%, 74%);
}

form p {
    display: none;
}

.form-content.erro input {
    background: url(../images/icon-error.svg) no-repeat;
    background-size: 18px;
    background-position: 94% 50%;
    font-weight: 600;
    color: hsl(0, 100%, 74%);
    margin-top: 8px;
    margin-bottom: 0;
    border: 1px solid hsl(0, 100%, 74%);
}

.form-content.erro p {
    display: block;
    color: hsl(0, 100%, 74%);
    margin: 0;
    margin: 4px;
    font-size: 9.5px;
    font-weight: 600;
    width: 350px;
    text-align: end;
    font-style: italic;
}

.form-content.erro button {
    margin-top: 8px;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}